# Exclude State Files
learn-terraform-docker-container/*.tfstate
learn-terraform-docker-container/*.tfstate.*

# Exclude Local Terraform Directories
# NOTE: The Double asterisk wildcard will match the current directory and any level of subdirectories
learn-terraform-docker-container/*.terraform/*

# Exclude crash log files
learn-terraform-docker-container/*.log

# Exclude sensitive data
learn-terraform-docker-container/*.tfvars
